.host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  @media (max-width: 700px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-name {
  text-align: right;
  font-size: 18px;
  color: #ff6060;
  @media (max-width: 700px) {
    font-size: 12px;
  }
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  @media (max-width: 700px) {
    width: 32px;
    height: 32px;
  }
}

.rating {
  display: flex;
  gap: 10px;
}

.star {
  width: 24px;
  height: 24px;
  @media (max-width: 700px) {
    width: 18px;
    height: 18px;
  }
}
