.host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-name {
  text-align: right;
  font-size: 18px;
  color: #ff6060;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.rating {
  display: flex;
  gap: 10px;
}

.star {
  width: 24px;
  height: 24px;
}
