.logement-host-container {
  display: flex;
  justify-content: space-between;
}

.logements-wrapper {
  padding: 0px 100px 60px 100px;
}

.logement-info {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.logement-title {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}

.logement-location {
  font-size: 18px;
  margin-top: 5px;
  color: #333;
}

.tags-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.host-wrapper {
  padding-top: 24px;
}

.collapses-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  gap: 75px;
  font-size: 18px;
  font-weight: bold;
}
