.cards-wrapper {
  background-color: #f6f6f6;
  padding: 56px 50px 43px 50px;
  margin: 0px 100px 50px 100px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 60px;
  justify-content: center;
}
