.collapse-container {
  width: 100%;
  max-width: 900px;
  border-radius: 5px;
  overflow: hidden;
}

.collapse-header {
  background-color: #ff6060;
  color: white;
  padding: 10px 20px 8px 15px;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @media (max-width: 700px) {
    height: 30px;
    padding: 10px 10px 10px 15px;
  }
}

.collapse-title {
  font-size: 24px;
  font-weight: bold;
  @media (max-width: 700px) {
    font-size: 13px;
  }
}

.collapse-arrow {
  width: 32px;
  transition: transform 0.3s ease;
}

.collapse-arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  background-color: #f6f6f6;
  color: #000000;
  padding: 15px 20px 20px 20px;
  font-size: 18px;
  font-weight: 400;
  animation: sweep 0.5s ease;
  @media (max-width: 700px) {
    font-size: 13px;
  }
}

@keyframes sweep {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
