.carrousel {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  @media (max-width: 700px) {
    border-radius: 10px;
    height: 255px;
  }

  .carrousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 47px;
    height: 80px;
    color: white;
    cursor: pointer;
    z-index: 2;
    @media (max-width: 700px) {
      width: 12px;
      height: 20px;
    }

    &.left {
      left: 23px;
      @media (max-width: 700px) {
        left: 6px;
      }
    }

    &.right {
      right: 23px;
      @media (max-width: 700px) {
        right: 6px;
      }
    }
  }

  .counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
    @media (max-width: 700px) {
      display: none;
    }
  }
}
