.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  width: auto;
  height: 68px;

  &__nav {
    display: flex;
    gap: 60px;
  }
}

.nav__link {
  font-size: 24px;
  text-decoration: none;

  &--active {
    text-decoration: underline;
  }
}
