.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;

  &__logo {
    height: 50px;
  }

  &__nav {
    display: flex;
    gap: 25px;
  }
}

.nav__link {
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;

  &--active {
    text-decoration: underline;
  }
}
