.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  width: auto;
  height: 68px;
  @media (max-width: 700px) {
    padding: 20px;
  }

  &__nav {
    display: flex;
    gap: 60px;
    @media (max-width: 700px) {
      gap: 25px;
    }
  }
}

.header__logo {
  @media (max-width: 700px) {
    width: 145px;
  }
}

.nav__link {
  font-size: 24px;
  text-decoration: none;
  @media (max-width: 700px) {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 25px;
  }

  &--active {
    text-decoration: underline;
  }
}
