.footer-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 210px;
}

.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 66px;
  width: 122px;
}

.rights {
  color: white;
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
  @media (max-width: 700px) {
    font-size: 12px;
    max-width: 130px;
    padding-bottom: 58px;
  }
}
