/* index.scss : styles globaux de base */

:root {
  font-family: "Arial", Helvetica, sans-serif;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
